<div class="card mt-5">
    <div class="card-body">
        <label class="form-label">Įveskite kraštinę A</label>
        <input class="form-control mb-3" type="number" name="a" [(ngModel)]="a">
        <label class="form-label">Įveskite kraštinę B</label>
        <input class="form-control mb-3" type="number" name="b" [(ngModel)]="b">
        <label class="form-label">Įveskite kraštinę C</label>
        <input class="form-control mb-3" type="number" name="c" [(ngModel)]="c">


        <button class="btn btn-primary" (click)="calculate()" [disabled]="a == null || b == null || c == null">Apskaičiuoti</button>

        <div class="alert alert-danger mt-3" *ngIf="area === false">Pateiktos ne trikampio kraštinės</div>
        <div class="alert alert-info mt-3" *ngIf="area != null && area != false">Trikampio plotas: {{ area }} </div>
    </div>
</div>